.messages{
    
    height: 100%;
    width: 100%;
    overflow-y: auto;
    margin-bottom: 10rem;
}


.messages__form{
    border-top: 2px #8d8181 solid;
    position: fixed;
    bottom: 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #e7d4d4;
    height: 10rem;
    z-index: 99;
}

.messages__form input{
    font-size: 1.1rem;
    transition: 0.5s;
    background-color: #fff;
    width: 340px;
    height: 50px;
    border: none;
    border-radius: 25px 0 0 25px;
    padding-left: 1.7rem;
}

.messages__form input:focus{
    outline: none;
}


.messages__form button{
    transition: 0.5s;
    
    font-size: 1.1rem;
    transition: 0.5s;
    border-radius: 0 25px 25px 0;
    width: 150px;
    height: 50px;
    border:none;
    cursor: pointer;
    background-color: rgb(236, 154, 96);
    color: #fff;
}

.messages__form button:hover{
    background-color:rgba(216, 130, 68, 0.795)
}